.promo-news {

  &__wrapper {
    display: grid;
    grid-template-columns: 400px minmax(0, 1fr);
    gap: 120px;
  }

  &__header {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: $base;
    gap: 24px;

    &:before {
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 50vh;
      background-color: $base;
      content: '';
    }

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 120px;
      background-color: $base;
      content: '';
    }
  }

  &__desc {
    @include Body-24;
    margin: 0;
    color: $secondary;
  }

  &__title {
    @include Title-52;
    margin: 0;
  }

  &__more {
    margin-top: auto;
  }
}