.promo-news {

  .slider {

    &__swiper {
      overflow: unset;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 400px minmax(0, 1fr);
    gap: 120px;

    @media(max-width: $desktop) {
      gap: 60px;
    }

    @media(max-width: $tablet) {
      grid-template-columns: minmax(0, 1fr);
      gap: 44px;
    }

    @media(max-width: $phone) {
      gap: 36px;
    }
  }

  &__header {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: $base;
    gap: 24px;

    @media(max-width: $tablet) {
      display: contents;
    }

    &:before {
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 50vh;
      background-color: $base;
      content: '';
    }

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 120px;
      background-color: $base;
      content: '';

      @media(max-width: $desktop) {
        width: 60px;
      }
    }
  }

  &__desc {
    @include Body-24;
    margin: 0;
    color: $secondary;
  }

  &__title {
    @include Title-62;
    margin: 0;
  }

  &__more {
    margin-top: auto;

    @media(max-width: $tablet) {
      order: 1;
    }
  }
}