include ../slider/slider

div.promo-news
  div.promo-news__wrapper
    div.promo-news__header
      span.promo-news__desc Что нового?
      h2.promo-news__title Новости & события
      
      div.promo-news__more
        a(href="#").button
          span.button__wrapper Все новости

    div.promo-news__main
      div.promo-news__slider
        +slider({
          news: true,
        })