.alert-wrapper {
  position: fixed;
  top: 200px;
  right: 30px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media(max-width: tablet) {
    top: 20px;
    right: 0;
    padding-right: 16px;
    padding-left: 16px;
  }
}