include ../vacancy-card/vacancy-card
include ../field/field

div.card-catalog
  div.card-catalog__wrapper
    h2.card-catalog__title Вакансии
      span.card-catalog__amount 4

    div.card-catalog__nav
      form(action="#" method='post').card-catalog__form
        div.card-catalog__tabs
          fieldset.card-catalog__tabs-list
            label.card-catalog__tabs-item
              input(type='radio' value='Все' name='filter' checked).visually-hidden
              span Все (7)
            label.card-catalog__tabs-item
              input(type='radio' value='Продажи' name='filter').visually-hidden
              span Другое (1)
            label.card-catalog__tabs-item
              input(type='radio' value='Дизайн' name='filter').visually-hidden
              span Координатор отдела продаж (1)
            label.card-catalog__tabs-item
              input(type='radio' value='Офис' name='filter').visually-hidden
              span Менеджер по продажам, менеджер по работе с клиентами (4)
            label.card-catalog__tabs-item
              input(type='radio' value='Производство' name='filter').visually-hidden
              span Производство
            label.card-catalog__tabs-item
              input(type='radio' value='Логистика' name='filter').visually-hidden
              span Продавец-консультант, продавец-кассир (1)
            label.card-catalog__tabs-item
              input(type='radio' value='Склад' name='filter').visually-hidden
              span Склад
        div.card-catalog__dropdown
          +field({
            select: true,
            name: 'Category-1',
            id: 'Category-1',
            secondClass: 'validator__choices',
            placeholder: 'Причина обращения',
          })

    div.card-catalog__list
      +vacancy-card({
        title: 'Менеджер по продажам',
        price: '120 000 - 200 000 ₽ в месяц, до вычета налогов',
        shop: 'МО, Красногорск, ТЦ РИГАМОЛЛ',
      })
      +vacancy-card({
        title: 'Менеджер по ремонту, оформитель стендов и площадок',
        price: '120 000 - 200 000 ₽ в месяц, до вычета налогов',
        shop: 'Александровск-Сахалинский, Нахимовский проспект, 24/1',
      })
      +vacancy-card({
        title: 'Руководитель учебного центра',
        price: 'от 200 000 ₽ в месяц, до вычета налогов',
        shop: 'Москва, МЦ ИМПЕРИЯ',
      })