.vacancy-card {
  padding: 36px;
  background-color: $elevated;
  border-radius: 16px;
  overflow: hidden;

  @media(max-width: $phone) {
    padding: 16px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    gap: 34px;

    @media(max-width: $tablet) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    @include Subtitle-30;
    margin: 0;
    color: inherit;
    text-decoration: none;
    transition: opacity $transition-duration;

    &:hover {
      @media(min-width: $desktop-only) {
        color: inherit;
        opacity: 0.5;
      }
    }
  }

  &__place {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__price {
    @include Body-24;
    text-align: right;

    @media(max-width: $tablet) {
      text-align: left;
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    color: $secondary;
    gap: 8px;

    &:before {
      width: 4px;
      height: 4px;
      background-color: currentColor;
      border-radius: 50%;
      flex-shrink: 0;
      content: '';
    }
  }

  &__footer {
    display: flex;
    margin-top: 36px;
    padding-top: 36px;
    border-top: 1px solid $default;
    gap: 24px;

    @media(max-width: $phone) {
      flex-direction: column;
      margin-top: 24px;
      padding-top: 24px;
      gap: 24px;
    }
  }

  &__action {
    position: relative;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: opacity $transition-duration;
    gap: 8px;

    @media(max-width: $phone) {
    }

    &:hover {
      @media(min-width: $desktop-only) {
        color: inherit;
        opacity: 0.5;
      }
    }

    &:after {
      width: 24px;
      height: 24px;
      color: inherit;
      background-color: currentColor;
      mask-size: cover;
      mask-position: center right;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3IDExTDEyLjU5IDcuNDFMMTQgNkwyMCAxMkwxNCAxOEwxMi41OSAxNi41OUwxNi4xNyAxM0w0IDEzTDQgMTFMMTYuMTcgMTFaIiBmaWxsPSIjMUMxQzFDIi8+Cjwvc3ZnPgo=");
      flex-shrink: 0;
      content: '';
    }

    img {
      width: 36px;
      height: 36px;
      flex-shrink: 0;

      @media(max-width: $phone) {
        width: 24px;
        height: 24px;
      }
    }
  }
}