.wrapper-card {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 160px;

  @media(max-width: $desktop) {
    gap: 60px;
  }

  @media(max-width: $tablet) {
    gap: 36px;
  }

  @media(max-width: $phone) {
    display: flex;
    flex-direction: column;
  }

  &__banner {
    margin: 0;
    padding: 0;
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 686 / 520;

    @media(max-width: $phone) {
      order: 1;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    @include Body-24;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
      margin: 0;
    }

    em {
      font-style: normal;
      color: $secondary;
    }
  }

  &__title {
    @include Title-62;
    display: block;
    margin-top: 0;
    margin-bottom: 32px;

    @media(max-width: $phone) {
      margin-bottom: unset;
    }
  }
}