.wrapper-card {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 160px;

  @media(max-width: $desktop) {
    gap: 60px;
  }

  &__banner {
    margin: 0;
    padding: 0;
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 686 / 520;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    @include Body-24;

    p:not([class]) {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    em {
      font-style: normal;
      color: $secondary;
    }
  }

  &__title {
    @include Title-62;
    display: block;
    margin-top: 0;
    margin-bottom: 48px;
  }
}