.button {
  @include Button-20;
  position: relative;
  min-height: 40px;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  background: 0;
  border: 0;
  text-decoration: none;
  color: inherit;
  transition:
    background-color $transition-duration,
    color $transition-duration,
    border-color $transition-duration;
  gap: 16px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;

  @media(max-width: $phone) {
    width: 100%;
  }

  &:not(:disabled):hover {
    @media(min-width: $desktop-only) {
      &:after {
        transform: scaleX(0);
      }

      .button {
        &__wrapper {
          transform: translateX(calc(24px + 16px));
        }
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:has(.button__wrapper) {

    &:after {
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(1);
      transform-origin: right;
      transition: transform $transition-duration;
      content: '';
    }
  }

  svg {
    fill: currentcolor;
  }

  &__wrapper {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    transition: transform $transition-duration;

    @media(max-width: $phone) {
      justify-content: space-between;
    }

    &:before {
      position: absolute;
      top: 0;
      left: calc(-24px - 16px);
      width: 24px;
      height: 24px;
      color: inherit;
      background-color: currentColor;
      mask-size: cover;
      mask-position: center right;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3IDExTDEyLjU5IDcuNDFMMTQgNkwyMCAxMkwxNCAxOEwxMi41OSAxNi41OUwxNi4xNyAxM0w0IDEzTDQgMTFMMTYuMTcgMTFaIiBmaWxsPSIjMUMxQzFDIi8+Cjwvc3ZnPgo=");
      flex-shrink: 0;
      content: '';
    }

    &:after {
      width: 24px;
      height: 24px;
      color: inherit;
      background-color: currentColor;
      mask-size: cover;
      mask-position: center right;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3IDExTDEyLjU5IDcuNDFMMTQgNkwyMCAxMkwxNCAxOEwxMi41OSAxNi41OUwxNi4xNyAxM0w0IDEzTDQgMTFMMTYuMTcgMTFaIiBmaWxsPSIjMUMxQzFDIi8+Cjwvc3ZnPgo=");
      flex-shrink: 0;
      content: '';
    }

    span {
      text-align: left;
      flex-grow: 1;
    }
  }
}