div.catalog-menu
  div.catalog-menu__wrapper
    h2.catalog-menu__title Каталог мебели
    ul.catalog-menu__list
      li.catalog-menu__item
        a(href="#").catalog-menu__link
          span Диваны
          figure.catalog-menu__link-banner
            img(src="./assets/images/catalog-1.jpg", alt="")
      li.catalog-menu__item
        a(href="#").catalog-menu__link
          span Кровати
          figure.catalog-menu__link-banner
            img(src="./assets/images/catalog-2.jpg", alt="")
      li.catalog-menu__item
        a(href="#").catalog-menu__link
          span Матрасы и намастрасники
          figure.catalog-menu__link-banner
            img(src="./assets/images/catalog-3.jpg", alt="")
      li.catalog-menu__item
        a(href="#").catalog-menu__link
          span Комоды и тумбы
          figure.catalog-menu__link-banner
            img(src="./assets/images/catalog-4.jpg", alt="")
      li.catalog-menu__item
        a(href="#").catalog-menu__link
          span Журнальные столы
          figure.catalog-menu__link-banner
            img(src="./assets/images/catalog-5.jpg", alt="")
      li.catalog-menu__item
        a(href="#").catalog-menu__link
          span Туалетные столы
          figure.catalog-menu__link-banner
            img(src="./assets/images/catalog-6.jpg", alt="")
      li.catalog-menu__item
        a(href="#").catalog-menu__link
          span Столы и стулья
          figure.catalog-menu__link-banner
            img(src="./assets/images/catalog-7.jpg", alt="")
      li.catalog-menu__item
        a(href="#").catalog-menu__link
          span Арт-пано
          figure.catalog-menu__link-banner
            img(src="./assets/images/catalog-8.jpg", alt="")
      li.catalog-menu__item
        a(href="#").catalog-menu__link
          span Аксессуары
          figure.catalog-menu__link-banner
            img(src="./assets/images/catalog-9.jpg", alt="")
      li.catalog-menu__item
        a(href="#").catalog-menu__link
          span Кресла и софы
          figure.catalog-menu__link-banner
            img(src="./assets/images/catalog-10.jpg", alt="")
