doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    meta(name="theme-color" content="#231f20")

    <link rel="preload" href="./assets/fonts/SuisseIntl/SuisseIntl-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="./assets/fonts/SuisseIntl/SuisseIntl-Bold.woff2" as="font" crossorigin="anonymous">

    //- favicons
    <link rel="icon" type="image/png" href="./assets/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./assets/favicons/favicon.svg" />
    <link rel="shortcut icon" href="./assets/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="./assets/favicons/site.webmanifest" />
  
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="./assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    title estetica.ru

    //- место для подключения стилей jquery библиотек
    //- link(href='libsJQ/test.css' rel='stylesheet')

  body
    block mixins
      include ../components/modal/modal
      include ../components/alert/alert
      include ../components/layout/layout
      include ../components/header/header
      include ../components/article/article

    //- include ../components/top-bar/top-bar

    block header
      +header({
        mixin: 'header--black header--liquid',
      })

    main
      block main

    block footer
      include ../components/footer/footer
      include ../components/up/up
      include ../components/widget/widget

    include ../components/alert-wrapper/alert-wrapper

    template#cookie
      include ../components/cookie/cookie

    div
      template#alert--error
        +alert({
          error: true,
        })

      template#alert--request
        +alert({
          request: true,
        })

    div
      template#modal--more
        +modal({
          more: true,
        })
        
      template#modal--access
        +modal({
          access: true,
        })


    //- jQuery скрипты
    script(src='libsJQ/jquery.min.js')
    block meta
