div.participant-card
  div.participant-card__content
    span.participant-card__title Сроки поставки от 30 дней
    span.participant-card__desc Прописываем в договоре
  figure.participant-card__banner
    img(src="./assets/images/promo-gallery-5.png", alt="")
