.advantages {

  &__title {
    @include Display-92;
    margin: 0;
    margin-bottom: 66px;
    text-align: center;
  }

  &__wrapper {
    width: min(100%, 1400px);
    margin-right: auto;
    margin-left: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}