div.participants
  h2.participants__title.pro Что даёт дизайнеру участие<br> в ESTETICA
  div.participants__wrapper
    ul.participants__list
      each i in [1,2,3,4,5,6]
        li.participants__item
          include ../participant-card/participant-card