.participants {
  // min-height: calc(var(--vh, 1vh) * 100);

  &__title {
    @include Display-92;
    margin: 0;
    margin-bottom: 66px;
    text-align: center;
  }

  &__wrapper {
    position: relative;
    width: min(100%, 1400px);
    // min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 24px;
  }

  &__item {
    // transform: translateY(0);
  }

  &__item-pin {
    @include Shadow-cards;
    position: relative;
    border-radius: 16px;
    will-change: transform;
  }
}