mixin participants(props)
  -
    const { title = null, items = [] } = props;

  div.participants
    if title
      h2.participants__title.pro!= title

    div.participants__wrapper
      ul.participants__list
        each item, index in items
          li.participants__item
            .participants__item-pin
              include ../participant-card/participant-card
