.participants {
  min-height: calc(var(--vh, 1vh) * 100);

  &__title {
    @include Display-92;
    margin: 0;
    margin-bottom: 66px;
    text-align: center;
  }

  &__wrapper {
    position: relative;
    width: min(100%, 1400px);
    margin-right: auto;
    margin-left: auto;
    padding-top: 700px;
  }

  &__list {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 24px;
  }

  &__item {
    @include Shadow-L;
    @include Shadow-XS;
    @include Shadow-cards;
    border-radius: 16px;
  }
}