mixin advantage-card(props)
  div.advantage-card
    i.advantage-card__icon
      img(src=props.icon width='96' height='96' alt="")
    div.advantage-card__content
      span.advantage-card__title=props.title
      span.advantage-card__desc=props.desc