.advantage-card {
  display: flex;
  flex-direction: column;
  padding: 36px;
  background-color: $elevated;
  border-radius: 16px;
  overflow: hidden;
  gap: 48px;

  @media(max-width: $phone) {
    padding: 16px;
  }

  &__icon {
    width: 96px;
    height: 96px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    margin: 0;
  }

  &__desc {
    margin: 0;
    color: $secondary;
  }
}