.promo-gallery {
  position: relative;
  color: $inverted;

  &__wrapper {
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
  }

  &__title {
    @include Display-92;
    margin: 0;
    margin-bottom: 48px;
  }

  &__post-title {
    @include Body-20;
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    p {
      margin: 0;
    }
  }

  &__banners {
    position: absolute;
    display: grid;
    grid-template-columns: minmax(0, 425px) 600px minmax(0, 425px);
    justify-content: space-between;
    align-items: flex-end;
    gap: 100px;
  }

  &__banner {
    margin: 0;
    padding: 0;

    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }

    &:nth-child(2) {
      margin-bottom: 50px;
      grid-column: 3;
      grid-row: 1;
    }

    &:nth-child(3) {
      margin-bottom: 40px;
      grid-column: 1;
      grid-row: 2;
    }

    &:nth-child(4) {
      grid-column: 2;
      grid-row: 2;
    }

    &:nth-child(5) {
      margin-bottom: 190px;
      grid-column: 3;
      grid-row: 2;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 16px;
      overflow: hidden;
      object-fit: contain;
    }
  }
}