div.promo-gallery
  div.promo-gallery__wrapper
    div.scroll-reveal.promo-gallery__header
      h2.promo-gallery__title Точно. Стильно. #[br] Индивидуально.
      div.promo-gallery__post-title
        p Каждое изделие изготавливается индивидуально, с учётом ваших пожеланий. 
        p(style='color: #8F8F8F') Сроки производства от 30 дней фиксируются в договоре и соблюдаются на каждом этапе.

    div.promo-gallery__banners
      figure.promo-gallery__banner
        img(src="./assets/images/promo-gallery-1.png", alt="")
      figure.promo-gallery__banner
        img(src="./assets/images/promo-gallery-2.png", alt="")
      figure.promo-gallery__banner
        img(src="./assets/images/promo-gallery-4.png", alt="")
      figure.promo-gallery__banner
        img(src="./assets/images/promo-gallery-3.png", alt="")
      figure.promo-gallery__banner
        img(src="./assets/images/promo-gallery-5.png", alt="")