.promo {

  &__wrapper {
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-right: auto;
    margin-left: auto;
    gap: 24px;

    @media(max-width: $tablet) {
      height: auto;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-row: unset;
    }
  }

  &__video {
    position: relative;
    width: 100%;
    height: 785px;
    margin: 0;
    padding: 0;
    border-radius: 16px;
    grid-row: 1 / 2;
    object-fit: cover;
    overflow: hidden;

    @media(max-width: $tablet) {
      height: auto;
      grid-row: unset;
    }

    &--left {
      // transform: translateX(-50vw);
      grid-column-start: 1;

      @media(max-width: $tablet) {
        grid-column-start: unset;
      }
    }

    &--right {
      // transform: translateX(50vw);
      grid-column-start: 2;

      @media(max-width: $tablet) {
        grid-column-start: unset;
      }
    }

    &--center {
      grid-column: -1 / 1;
      opacity: 0;

      @media(max-width: $tablet) {
        opacity: 1 !important;
      }
    }
  }
}