.promo {

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-right: auto;
    margin-bottom: calc(-785px / 2);
    margin-left: auto;
    transform: translateY(-50%);
    gap: 24px;

    @media(max-width: $tablet) {
      grid-template-columns: minmax(0, 1fr);
      // grid-template-rows: repeat(2, 480px);
      margin-bottom: unset;
      transform: unset;
    }
  }

  &__video {
    position: relative;
    width: 100%;
    height: 785px;
    margin: 0;
    padding: 0;
    border-radius: 16px;
    grid-row: 1 / 2;
    object-fit: cover;
    overflow: hidden;

    @media(max-width: $tablet) {
      // height: 480px;
      grid-row: unset;

      height: unset;
    }

    &--left {
      // transform: translateX(-50vw);
      grid-column-start: 1;

      @media(max-width: $tablet) {
        // grid-column-start: 1;
        // grid-row-start: 1;

        display: none;
      }
    }

    &--right {
      // transform: translateX(50vw);
      grid-column-start: 2;

      @media(max-width: $tablet) {
        // grid-column-start: 1;
        // grid-row-start: 2;

        display: none;
      }
    }

    &--center {
      z-index: 1;
      grid-column: -1 / 1;
      opacity: 0;

      @media(max-width: $tablet) {
        // height: 100%;
        // grid-column-start: 1;
        // grid-row: 1 / 3;

        opacity: 1;
      }
    }
  }

  &__black-overlay {
    position: absolute;
    inset: 0;
    background-color: $dark;
    border-radius: 16px;
    overflow: hidden;
    opacity: 0;
  }
}