section.promo
  div.promo__wrapper
    video(autoplay loop playsinline muted).promo__video.promo__video--left
      source(media='(min-width: 991px)' src='./assets/documents/promo-1-desktop@1x.webm')
      source(src='./assets/documents/promo-1-mobile@1x.webm')

    video(autoplay loop playsinline muted).promo__video.promo__video--right
      source(media='(min-width: 991px)' src='./assets/documents/promo-2-desktop@1x.webm')
      source(src='./assets/documents/promo-2-mobile@1x.webm')

    video(autoplay loop playsinline muted).promo__video.promo__video--center
      source(media='(min-width: 991px)' src='./assets/documents/promo-3-desktop@1x.webm')
      source(src='./assets/documents/promo-3-mobile@1x.webm')
