.request-catalog {

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 800px;
    gap: 120px;
  }

  &__banner {
    height: 720px;
    margin: 0;
    padding: 0;
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__title {
    @include Title-52;
    margin: 0;
    margin-bottom: 48px;
  }

  &__form {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 200px;
    gap: 32px;
    margin-bottom: 24px;
  }

  &__legal {
    @include Body-16;
    color: $secondary;

    p {
      margin: 0;
    }

    a:not([class]) {
      color: $primary;
      text-decoration: underline;
      transition: text-decoration-color 0.3s;
      text-decoration-color: transparent;
      text-underline-position: under;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: currentcolor;
        }
      }
    }
  }
}