.request-catalog {

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(0, 680px) minmax(0, 800px);
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;

    @media(max-width: $tablet) {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }
  }

  &__banner {
    margin: 0;
    padding: 0;
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media(max-width: $tablet) {
      display: contents;
    }
  }

  &__title {
    @include Title-52;
    margin: 0;

    @media(max-width: $tablet) {
      order: -1;
    }
  }

  &__form {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 200px;
    gap: 32px;

    @media(max-width: $desktop) {
      display: flex;
      flex-direction: column;
    }

    @media(max-width: $tablet) {
      gap: 24px;
    }
  }

  &__legal {
    @include Body-16;
    color: $secondary;
    grid-column: -1 / 1;

    p {
      margin: 0;
    }

    a:not([class]) {
      color: $primary;
      text-decoration: underline;
      transition: text-decoration-color 0.3s;
      text-decoration-color: transparent;
      text-underline-position: under;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: currentcolor;
        }
      }
    }
  }
}