.mobile-dropdown {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $default;
    flex-wrap: wrap;

    &:has(.mobile-dropdown__sub--active) {

      .mobile-dropdown {

        &__sub-in:after {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__sub-out {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    gap: 15px;
    flex-grow: 1;

    &:before {
      width: 24px;
      height: 24px;
      color: inherit;
      background-color: currentColor;
      mask-size: cover;
      mask-position: center right;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3IDExTDEyLjU5IDcuNDFMMTQgNkwyMCAxMkwxNCAxOEwxMi41OSAxNi41OUwxNi4xNyAxM0w0IDEzTDQgMTFMMTYuMTcgMTFaIiBmaWxsPSIjMUMxQzFDIi8+Cjwvc3ZnPgo=");
      flex-shrink: 0;
      transform: rotate(180deg);
      content: '';
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__sub-in {
    min-height: 60px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 15px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    gap: 15px;
    flex-grow: 1;

    &:after {
      width: 24px;
      height: 24px;
      margin-left: auto;
      color: inherit;
      background-color: currentColor;
      mask-size: contain;
      mask-position: center left;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3IDExTDEyLjU5IDcuNDFMMTQgNkwyMCAxMkwxNCAxOEwxMi41OSAxNi41OUwxNi4xNyAxM0w0IDEzTDQgMTFMMTYuMTcgMTFaIiBmaWxsPSIjMUMxQzFDIi8+Cjwvc3ZnPgo=");
      transition: transform $transition-duration;
      flex-shrink: 0;
      content: '';
    }
  }

  &__banner {
    height: 40px;
    margin: 0;
    padding: 0;
    aspect-ratio: 88 / 58;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }

  &__sub {
    width: 100%;
    max-height: 0;
    padding-left: 30px;
    transition: max-height $transition-duration;
    overflow: hidden;
  }

  &__sub-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    gap: 16px;
  }

  &__sub-item {}

  &__sub-link {
    color: inherit;
    text-decoration: none;
  }
}