div.mobile-dropdown
  ul.mobile-dropdown__list

    li.mobile-dropdown__item
      span.mobile-dropdown__sub-out Каталог

    li.mobile-dropdown__item
      span.mobile-dropdown__sub-in Гостинная группа
      div.mobile-dropdown__sub
        ul.mobile-dropdown__sub-list
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Диваны
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Кресла и софы
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Журнальные столики
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Пуфы и банкетки
            
    li.mobile-dropdown__item
      span.mobile-dropdown__sub-in Спальная группа
      div.mobile-dropdown__sub
        ul.mobile-dropdown__sub-list
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Кровати
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Матрасы и наматрасники
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Комоды
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Тумбы
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Туалетные столы
            
    li.mobile-dropdown__item
      span.mobile-dropdown__sub-in Обеденная группа
      div.mobile-dropdown__sub
        ul.mobile-dropdown__sub-list
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Столы
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Стулья
            
    li.mobile-dropdown__item
      span.mobile-dropdown__sub-in Аксессуары
      div.mobile-dropdown__sub
        ul.mobile-dropdown__sub-list
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Арт-пано 
          li.mobile-dropdown__sub-item
            a(href="#").mobile-dropdown__sub-link Освещение