.mobile-dropdown {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $default;
    flex-wrap: wrap;

    &:has(.mobile-dropdown__sub--active) {

      .mobile-dropdown {

        &__sub-in:after {
          transform: rotate(135deg);
        }
      }
    }
  }

  &__sub-out {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    color: $primary;
    text-decoration: none;
    text-transform: uppercase;
    gap: 15px;
    flex-grow: 1;

    &:before {
      width: 10px;
      height: 10px;
      margin-left: 2px;
      border-top: 2px solid currentColor;
      border-left: 2px solid currentColor;
      transform: rotate(-45deg);
      flex-shrink: 0;
      content: '';
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__sub-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
    color: $primary;
    text-decoration: none;
    text-transform: uppercase;
    flex-grow: 1;

    &:after {
      width: 10px;
      height: 10px;
      border-top: 2px solid $primary;
      border-right: 2px solid $primary;
      transition: transform $transition-duration;
      transform: rotate(45deg);
      content: '';
    }
  }

  &__sub {
    width: 100%;
    max-height: 0;
    padding-left: 30px;
    transition: max-height $transition-duration;
    overflow: hidden;
  }

  &__sub-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    list-style: none;
    gap: 16px;
  }

  &__sub-item {}

  &__sub-link {
    color: inherit;
    text-decoration: none;
  }
}