.cookie {
  @include Body-16;
  position: fixed;
  top: unset;
  right: 16px;
  bottom: 0;
  left: unset;
  z-index: 15;
  width: auto;
  height: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  color: $inverted;
  pointer-events: none;
  overflow: initial;

  @media(max-width: $phone) {}

  .container {
    padding: 0;
  }

  &__overlay {
    display: none;
  }

  &__wrapper {
    @include liquid-glass;
    display: flex;
    max-width: 430px;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
    padding: 16px;
    border-radius: 16px;
    background-color: $overlay-dark;
    box-shadow: 0 25px 40px rgba($color: #111111, $alpha: 20%);
    gap: 10px;
    pointer-events: auto;

    @media(max-width: $phone) {
      flex-direction: column;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 24px;

    p {
      margin: 0;

      a {
        color: inherit;
        text-decoration: underline;
        transition: text-decoration-color $transition-duration;
        text-decoration-color: currentcolor;
        text-underline-position: under;

        &:hover {
          @media(min-width: $desktop-only) {
            text-decoration-color: transparent;
          }
        }
      }
    }
  }

  &__button {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: $inverted;
    background: 0;
    outline: none;
    transition: opacity $transition-duration;
    cursor: pointer;

    &:hover {
      @media(min-width: $desktop-only) {
        opacity: 0.5;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 2px;
      background: transparent;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        transform: rotate(45deg);
        content: '';
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentcolor;
        transform: rotate(-45deg);
        content: '';
      }
    }
  }
}