section.popUp.cookie
  div.container
    div.cookie__wrapper
      div.cookie__main
        i.cookie__icon
          img(src="./assets/images/icon-cookie.png" width='24' height='24' alt="Печенька")
        p Мы используем cookie для удобства работы сайта. Вы можете отключить их в настройках браузера. Продолжая пользоваться сайтом, вы соглашаетесь с нашей #[a(href="#" target="_blank" rel=" noopener noreferrer") Политикой обработки данных].

      button(type="button" aria-label="Закрыть").cookie__button
        span