.cookie {
  position: fixed;
  top: unset;
  right: 50%;
  bottom: 50px;
  left: unset;
  z-index: 15;
  width: 100%;
  height: unset;
  color: inherit;
  transform: translateX(50%);
  pointer-events: none;
  overflow: initial;

  @media(max-width: $phone) {
    bottom: 15px;
  }

  &__overlay {
    display: none;
  }

  &__wrapper {
    display: flex;
    max-width: 840px;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 25px 40px rgba($color: #111111, $alpha: 20%);
    gap: 10px;
    pointer-events: auto;

    @media(max-width: $phone) {
      flex-direction: column;
    }
  }

  &__main {}

  &__text {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;

    @media(max-width: $phone) {
      font-size: 14px;
      line-height: 20px;
    }

    &:first-of-type {
      margin-top: 0;
    }

    a {
      text-decoration: none;
      transition:
        opacity 0.3s,
        color 0.3s;

      &:hover {
        @media(min-width: $desktop-only) {
          opacity: 0.8;
        }
      }

      &:active {
        opacity: 1;
      }
    }
  }
}