section.test-promo
  div.test-promo__wrapper
    div.test-promo__banner.test-promo__banner--left
      video(preload="auto" loop playsinline muted autoplay).test-promo__video
        source(media='(min-width: 767px)' src='./assets/documents/promo-1-desktop@1x.mp4')
        source(src='./assets/documents/promo-1-desktop@1x.mp4')

    div.test-promo__banner.test-promo__banner--right
      video(preload="auto" loop playsinline muted autoplay).test-promo__video
        source(media='(min-width: 767px)' src='./assets/documents/promo-2-desktop@1x.mp4')
        source(src='./assets/documents/promo-2-desktop@1x.mp4')

    div.test-promo__banner.test-promo__banner--center
      video(preload="auto" loop playsinline muted autoplay).test-promo__video
        source(media='(min-width: 767px)' src='./assets/documents/promo-3-desktop@1x.mp4')
        source(src='./assets/documents/promo-3-mobile@1x--2.mp4')

    div.test-promo__black-overlay
