.news-card {
  width: 400px;

  &__link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: inherit;
    text-decoration: none;

    &:hover {
      @media(min-width: $desktop-only) {
        .news-card {

          &__banner {

            img {
              transform: scale(1.1);
            }

            &:before,
            &:after {
              visibility: initial;
              opacity: 1;
            }
          }

          &__title {
            color: $secondary;
          }
        }
      }
    }
  }

  &__banner {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 16px;
    aspect-ratio: 400 / 440;
    overflow: hidden;

    &:before {
      position: absolute;
      z-index: 1;
      inset: 0;
      background-color: $overlay-light;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition:
        visibility $transition-duration,
        opacity $transition-duration;
      content: '';
    }

    &:after {
      @include liquid-glass;
      position: absolute;
      z-index: 1;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $overlay-light;
      background-size: 24px;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3IDExTDEyLjU5IDcuNDFMMTQgNkwyMCAxMkwxNCAxOEwxMi41OSAxNi41OUwxNi4xNyAxM0w0IDEzTDQgMTFMMTYuMTcgMTFaIiBmaWxsPSIjMUMxQzFDIi8+Cjwvc3ZnPgo=");
      border-radius: 50%;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition:
        visibility $transition-duration,
        opacity $transition-duration;
      content: '';
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      will-change: transform;
      transition: transform $transition-duration;
    }
  }

  &__info {
    @include Body-16;
    display: flex;
    color: $secondary;
    flex-wrap: wrap;
    gap: 8px;

    span {
      &:not(:first-child) {
        display: flex;
        align-items: center;
        gap: 8px;

        &:before {
          width: 4px;
          height: 4px;
          background-color: currentColor;
          border-radius: 50%;
          content: '';
        }
      }
    }
  }

  &__title {
    @include Body-20;
    margin: 0;
    transition: color $transition-duration;
  }
}