.layout {
  position: relative;
  margin-top: 160px;
  margin-bottom: 160px;

  @media(max-width: $phone) {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .slider {

    &__swiper {
      overflow: unset;
    }
  }

  &:has(.promo),
  &:has(.promo-gallery),
  &:has(.promo-news),
  &:has(.gallery),
  &:has(.slider) {
    overflow: hidden;
  }

  &:has(.request) {
    @media(max-width: $tablet) {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 160px;
      padding-bottom: 160px;
      background-color: $elevated;
    }

    @media(max-width: $phone) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

  &:has(.subscribe-tg) {
    @media(max-width: $tablet) {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 160px;
      padding-bottom: 160px;
      background-color: $dark;
    }

    @media(max-width: $phone) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    gap: 24px;

    @media(max-width: $tablet) {
      margin-bottom: 36px;
    }
  }

  &__title {
    @include Title-62;
    width: min(100%, 1400px);
    margin: 0;
  }

  &__post-title {
    @include Body-24;
    margin: 0;
    color: $secondary;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;

    @media(max-width: $phone) {
      gap: 96px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 50px;

    @media(max-width: $phone) {
      margin-top: 36px;
    }

    .button {

      @media(max-width: $phone) {
        width: auto;
        flex-grow: 1;
      }
    }
  }

  &--header-center {
    .layout {

      &__header {
        width: 100%;
        max-width: 830px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }
    }
  }

  &--grey {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: $elevated;

    @media(max-width: $phone) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

  &--dark {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 160px;
    padding-bottom: 160px;
    color: $inverted;
    background-color: $dark;

    @media(max-width: $phone) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

  &--column2 {

    .layout {

      &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 24px;

        @media(max-width: $phone) {
          grid-template-columns: minmax(0, 1fr);
        }
      }
    }
  }

  &--column4 {

    .layout {

      &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 24px;

        @media(max-width: $phone) {
          grid-template-columns: minmax(0, 1fr);
        }
      }
    }
  }
}