.our-history {
  padding-top: 24px;
  border-top: 1px solid $default;

  &__title {
    @include Body-24;
    margin: 0;
    margin-bottom: 90px;
    color: $secondary;

    @media(max-width: $phone) {
      margin-bottom: 36px;
    }
  }

  &__wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 120px minmax(0, 1fr);
    gap: 60px;

    @media(max-width: $desktop) {
      grid-template-columns: minmax(0, 1fr);
    }

    @media(max-width: $tablet) {
      gap: 36px;
    }
  }

  &__nav {
    width: 100%;

    @media(max-width: $desktop) {
      width: auto;
      margin-right: -30px;
      margin-left: -30px;
      padding-right: 30px;
      padding-left: 30px;
    }

    @media(max-width: $tablet) {
      margin-right: -15px;
      margin-left: -15px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    row-gap: 30px;
    box-sizing: border-box;

    @media(max-width: $desktop) {
      flex-direction: row;
    }
  }

  &__nav-item {
    @include Body-24;
    position: relative;
    display: flex;
    width: unset;
    height: unset;
    color: $secondary;
    transition: color 0.3s;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    @media(max-width: $desktop) {
      margin-right: 24px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      @media(min-width: $desktop-only) {
        color: $hover;
      }
    }

    &:before {
      width: 0;
      height: 24px;
      color: inherit;
      background-color: currentColor;
      mask-size: contain;
      mask-position: center left;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3IDExTDEyLjU5IDcuNDFMMTQgNkwyMCAxMkwxNCAxOEwxMi41OSAxNi41OUwxNi4xNyAxM0w0IDEzTDQgMTFMMTYuMTcgMTFaIiBmaWxsPSIjMUMxQzFDIi8+Cjwvc3ZnPgo=");
      flex-shrink: 0;
      content: '';
    }

    &--active {
      color: $primary;

      &:before {
        width: 30px;
      }
    }
  }

  &__main {
    width: 100%;

    @media(max-width: $tablet) {
      width: auto;
      margin-right: -15px;
      margin-left: -15px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__main-list {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }

  &__main-item {

    &--active {

      // .history-card {

      //   &__content {
      //     transition: transform $transition-duration ease 0.1s;
      //     transform: translateX(0);
      //   }
      // }
    }
  }
}