div.our-mission
  h2.our-mission__title Наша миссия
  div.our-mission__wrapper
    div.our-mission__row
      figure.our-mission__banner.our-mission__banner--left 
        img(src="./assets/images/our-mission-1.png", alt="")
    div.our-mission__row
      em.our-mission__slogan «Дать возможность проявиться талантам наших сотрудников»
      div.our-mission__cell
        figure.our-mission__banner.our-mission__banner--right
          img(src="./assets/images/our-mission-2.png", alt="")
        div.our-mission__small-row
          span И применить эти таланты в работе и жизни
          i.our-mission__icon
            img(src="./assets/images/ic-heart.png" width='64' height='64' alt="")
    div.our-mission__row
      figure.our-mission__banner.our-mission__banner--left 
        img(src="./assets/images/our-mission-3.png", alt="")