.our-mission {
  padding-top: 24px;
  border-top: 1px solid $default;

  &__title {
    @include Body-24;
    margin: 0;
    margin-bottom: 90px;
    color: $secondary;
    text-align: center;

    @media(max-width: $phone) {
      margin-bottom: 36px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(0, 400px) minmax(0, 700px) minmax(0, 400px);
    justify-content: space-between;
    padding-bottom: 110px;
    gap: 36px;

    @media(max-width: $desktop) {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: unset;
    }

    @media(max-width: $tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 160px;

    @media(max-width: $desktop) {
      display: contents;
    }

    &:nth-child(2) {}

    &:nth-child(3) {
      align-self: flex-end;
      margin-bottom: -110px;

      @media(max-width: $desktop) {
        margin-bottom: unset;
      }
    }
  }

  &__banner {
    width: min(100%, 400px);
    margin: 0;
    padding: 0;
    border-radius: 16px;
    overflow: hidden;

    @media(max-width: $desktop) {
      width: unset;
    }

    &:nth-child(odd) {}

    &:nth-child(even) {}

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--left {

      @media(max-width: $phone) {
        margin-right: 90px;
      }
    }

    &--right {

      @media(max-width: $phone) {
        margin-left: 90px;
      }
    }
  }

  &__cell {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @media(max-width: $desktop) {
      flex-direction: column;
    }

    @media(max-width: $tablet) {
      display: contents;
    }
  }

  &__slogan {
    @include Title-62;
    font-style: normal;
    text-align: center;

    @media(max-width: $tablet) {
      order: -1;
    }
  }

  &__small-row {
    width: min(100%, 240px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    @media(max-width: $tablet) {
      order: 1;
    }
  }

  &__icon {
    width: 64px;
    height: 64px;

    @media(max-width: $tablet) {
      order: -1;
    }

    @media(max-width: $phone) {
      width: 36px;
      height: 36px;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }
}