extends ../templates/default

include ../components/request/request
include ../components/participants/participants

block header
  +header({
    mixin: 'header--black',
  })

block main
  include ../components/breadcrumbs/breadcrumbs

  include ../components/intro-partner/intro-partner

  +layout({
    title: 'Создавайте интерьеры<br> с мебелью, которая вдохновляет',
  })
    include ../components/gallery/gallery

  +layout({})
    +participants({
      title: 'Что даёт дизайнеру участие<br> в ESTETICA',
      items: [1,2,3,4,5,6,7,8],
    })

  +layout({
    id: 'TEST-2',
  })
    include ../components/request-wrapper/request-wrapper

  +layout({
    mixin: 'layout--column2',
    title: 'Доступные материалы',
    postTitle: 'Все материалы для вашей работы — в одном месте',
    action: 'Запросить доступ',
  })
    include ../components/bumf-card/bumf-card

  +layout({})
    include ../components/subscribe-tg/subscribe-tg