extends ../templates/default

block header

block main

  section(style='height: 100vh')

  +layout({
    mixin: 'layout--header-center',
    title: 'promo',
  })
    include ../components/promo/promo

  +layout({
    mixin: 'layout--header-center',
    title: 'test-promo',
  })
    include ../components/test-promo/test-promo

  section(style='height: 100vh')

block footer