.alert {

  &:not(.alert-danger):not(.alert-warning):not(.alert-success):not(.alert-hide):not(.alert-show) {
    @include liquid-glass;
    @include Body-16;
    position: relative;
    max-width: 440px;
    min-height: 64px;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 18px;
    padding-bottom: 20px;
    padding-left: 18px;
    color: $inverted;
    background-color: $overlay-dark;
    border-radius: 16px;
    box-shadow: 0 25px 40px rgba($color: #111111, $alpha: 20%);
    gap: 15px;

    @media(max-width: 767px) {
      padding-top: 14px;
      padding-right: 16px;
      padding-bottom: 14px;
      padding-left: 16px;
    }

    .alert {

      &__container {
        margin: 0;
        flex-grow: 1;

        p {
          margin: 0;
        }

        b {
          margin: 0;
          margin-bottom: 5px;
          padding: 0;
        }

        a:not([class]) {
          text-decoration: none;
          transition:
            opacity 0.3s,
            color 0.3s;

          &:hover {
            @media(min-width: $desktop-only) {
              opacity: 0.8;
            }
          }

          &:active {
            opacity: 1;
          }
        }
      }

      &__close {
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: auto;
        padding: 0;
        border: 0;
        color: inherit;
        background-color: transparent;
        transition: transform $transition-duration;
        outline: none;
        cursor: pointer;

        &:hover {
          @media(min-width: $desktop-only) {
            transform: rotate(90deg);
          }
        }

        span {
          position: relative;
          display: inline-block;
          width: 18px;
          height: 1px;
          background: transparent;
          vertical-align: bottom;

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentcolor;
            content: '';
            transform: rotate(45deg);
          }

          &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentcolor;
            content: '';
            transform: rotate(-45deg);
          }
        }
      }

      &__promo {
        margin-top: 20px;
      }
    }
  }

  &--bounce {
    animation: bounce 0.6s;
  }

  &--back-bounce {
    transition: opacity 2.5s;
    opacity: 0;
  }
}