section.intro-partner
  div.container
    div.intro-partner__wrapper
      div.intro-partner__body
        div.intro-partner__header
          h1.intro-partner__title Партнёрская программа 

        div.intro-partner__main
          div.intro-partner__content
            p Привилегии, поддержка и вдохновение от лидера рынка премиальной мебели в России
          div.intro-partner__action
            a(href="#").button 
              span.button__wrapper Получить условия

      div.intro-partner__media
        video(src="./assets/documents/estetika-4.mp4" autoplay muted loop poster='./assets/images/banners/banner-10.jpg')
      

