div.training-card
  figure.training-card__icon
    img(src="./assets/images/our-mission-1.png" alt="")

  div.info-card__content
    p Сертифицированные бизнес-тренеры
    p 
      em С опытом обучения и развития персонала более 10 лет


div.training-card
  figure.training-card__icon
    img(src="./assets/images/our-mission-2.png" alt="")

  div.info-card__content
    p Корпоративные встречи
    p 
      em И мероприятия развлекательного формата