div.reels
  ul.reels__list
    li.reels__item
      div.reels__numbers
        span 0
        span 1
        span 2
        span 3
        span 4
        span 5
        span 6
        span 7
        span 8
        span 9
    li.reels__item
      div.reels__numbers
        span 0
        span 1
        span 2
        span 3
        span 4
        span 5
        span 6
        span 7
        span 8
        span 9
    li.reels__item
      div.reels__numbers
        span 1
        span 2
        span 3
        span 4
        span 5
        span 6
        span 7
        span 8
        span 9
        span 0

        
  div.reels__progress
    div.reels__progress-bar
      span.reels__progress-value