.reels {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  &__item {
    width: 50px;
    height: 60px;
    overflow: hidden;
    position: relative;
    animation-name: reveal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;

    &:nth-child(1) {
      animation-delay: 0s;

      .reels__numbers {
        animation-delay: 0s;
        // animation-iteration-count: 3;
        animation-duration: 2.0s;
      }
    }

    &:nth-child(2) {
      animation-delay: 0.5s;

      .reels__numbers {
        animation-delay: 0.5s;
        // animation-iteration-count: 2;
        animation-duration: 1.5s;
      }
    }

    &:nth-child(3) {
      animation-delay: 1.0s;

      .reels__numbers {
        animation-delay: 1.0s;
        // animation-iteration-count: 1;
        animation-duration: 1.0s;
      }
    }

    // $num: 1;

    // @while $num < 20 {
    //   &:nth-of-type(#{$num}) {
    //     .reels__numbers {
    //       animation-delay: 1s * $num;
    //       animation-iteration-count: 4 - $num;

    //       @media(max-width: $tablet) {}
    //     }
    //   }

    //   $num: $num + 1;
    // }
  }

  &__numbers {
    @include Title-62;
    display: flex;
    flex-direction: column;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    span {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__progress-bar {
    position: relative;
    width: 180px;
    height: 4px;
  }

  &__progress-value {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $base;
    animation-name: grow-up;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-fill-mode: forwards;
  }
}

@keyframes grow-up {

  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

@keyframes spin {

  0% {
    transform: translateY(-90%);
  }

  100% {
    transform: translateY(0%);
  }
}

.reels__item,
.reels__numbers,
.reels__progress-value {
  animation-play-state: paused;
}