.field {
  @include Body-20;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  textarea {
    min-height: 200px;
  }

  select {
    display: none;
  }

  &__label {}

  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 100%;
    min-height: 40px;
    margin: 0;
    padding-top: 0;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    font: inherit;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $default;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;

    &::-webkit-datetime-edit &::-webkit-datetime-edit-fields-wrapper &::-webkit-datetime-edit-text &::-webkit-datetime-edit-month-field &::-webkit-datetime-edit-day-field &::-webkit-datetime-edit-year-field &::-webkit-inner-spin-button &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &::placeholder {
      font: inherit;
      color: $secondary;
    }

    &:not(textarea) {
      white-space: nowrap;
    }

    &:placeholder-shown {}

    &[readonly] {}
  }
}