mixin header(props)
  header.header(class=props.mixin)
    div.header__padding
    div.header__fixed
      div.container
        div.header__wrapper

          a(href="#").header__logo
            svg(width="226" height="36" viewBox="0 0 226 36" stroke="none" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-logo')
            //- svg(width="226" height="17" viewBox="0 0 226 17" stroke="none" xmlns="http://www.w3.org/2000/svg")
            //-   use(href='#icon-logo-new')
            
          nav.header__nav
            ul.header__nav-list
              li(data-hover='1').header__nav-item
                a(href="#").header__link Каталог
              li.header__nav-item
                a(href="#").header__link О компании
              li.header__nav-item
                a(href="#").header__link Новости
              li.header__nav-item
                a(href="#").header__link Дизайнерам
              li.header__nav-item
                a(href="#").header__link Салоны
              li.header__nav-item
                a(href="#").header__link Discount
            div.header__contacts 
              a(href="tel:+74951351164").header__link +7 (495) 135-11-64

          div.header__mobile-header
            a(href="tel:+74951351164")
              svg(width="24" height="24" viewBox="0 0 24 24" stroke="none" xmlns="http://www.w3.org/2000/svg")
                use(href='#icon-phone')
            
            button(type='button').header__burger
              span 

    div.header__mobile-nav
      div.header__mobile-nav-wrapper
        include ../mobile-nav/mobile-nav


    div(data-hover='1').header__dropdown
      include ../header-dropdown/header-dropdown