.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;

  @media print {
    display: none;
  }

  &:has(.header__nav-item[data-hover='catalog']:hover) {
    .header__dropdown[data-hover='catalog'] {
      visibility: visible;
      opacity: 1;
    }

    a {

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }

  &:has(.header__dropdown[data-hover='catalog']:hover) {
    .header__nav-item[data-hover='catalog'] {

      a {

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }

  &__fixed {
    background-color: $overlay-light;
    backdrop-filter: blur(5px) saturate(1.2);
    outline: 1px solid $default;
  }

  &__dropdown {
    position: fixed;
    z-index: 5;
    right: 0;
    left: 0;
    margin-right: 30px;
    margin-left: 30px;
    background-color: $overlay-light;
    backdrop-filter: blur(5px) saturate(1.2);
    border: 1px solid $default;
    border-top: 0;
    transition:
      visibility $transition-duration,
      opacity $transition-duration;
    visibility: hidden;
    opacity: 0;

    @media(max-width: $tablet) {
      margin: 15px;
    }

    &:hover {
      @media(min-width: $desktop-only) {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    flex-wrap: wrap;
    gap: 30px;

    @media(max-width: $desktop) {
      gap: 20px;
    }

    @media(max-width: $tablet) {
      position: relative;
      z-index: 5;
    }

    @media(max-width: $phone) {
      gap: 15px;
    }
  }

  &__sub-out {
    @include Caption-14;
    position: relative;
    max-width: calc(100% - 80px);
    display: none;
    align-items: center;
    margin: 0;
    padding: 0;
    color: currentColor;
    text-transform: uppercase;
    background: 0;
    border: 0;
    gap: 5px;
    flex-shrink: 0;

    &:before {
      width: 10px;
      height: 10px;
      margin-left: 2px;
      border-top: 2px solid currentColor;
      border-left: 2px solid currentColor;
      transform: rotate(-45deg);
      flex-shrink: 0;
      content: '';
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__logo {
    width: 226px;
    flex-shrink: 0;

    @media(max-width: $desktop) {
      width: 180px;
    }

    @media(max-width: $tablet) {
      width: 130px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__contacts {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    list-style: none;
    gap: 30px;

    @media(max-width: $desktop) {
      gap: 20px;
    }

    &:before {
      width: 1px;
      height: 100%;
      background-color: currentColor;
      ;
      content: '';
    }
  }

  &__nav {
    display: flex;
    margin-top: -12px;
    margin-bottom: -12px;
    gap: 30px;

    @media(max-width: $desktop) {
      gap: 20px;
    }

    @media(max-width: $tablet) {
      display: none;
    }
  }

  &__nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px;

    @media(max-width: $desktop) {
      gap: 20px;
    }
  }

  &__nav-item {
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;

    &[data-hover] {

      a {
        position: relative;
        padding-right: 20px;

        &:before {
          position: absolute;
          right: 8px;
          width: 6px;
          height: 2px;
          background-color: currentColor;
          transform: rotate(45deg);
          transition: transform $transition-duration;
          content: "";
        }

        &:after {
          position: absolute;
          right: 4px;
          width: 6px;
          height: 2px;
          background-color: currentColor;
          transform: rotate(-45deg);
          transition: transform $transition-duration;
          content: "";
        }
      }
    }

    // &:hover {
    //   @media(min-width: $desktop-only) {

    //     .header {

    //       &__sub {
    //         visibility: visible;
    //         opacity: 1;

    //         &~a {

    //           &:before {
    //             transform: rotate(-45deg);
    //           }

    //           &:after {
    //             transform: rotate(45deg);
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
  }

  &__link {
    @include Caption-14;
    height: 100%;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    transition: color $transition-duration;

    &:hover {
      @media(min-width: $desktop-only) {
        color: $hover;
      }
    }
  }

  // &__sub {
  //   position: absolute;
  //   top: 100%;
  //   right: -1px;
  //   left: -1px;
  //   z-index: 10;
  //   width: calc(100% + 2px);
  //   background-color: $overlay-light;
  //   backdrop-filter: blur(5px) saturate(1.2);
  //   border: 1px solid $default;
  //   border-top: 0;
  //   transition:
  //     visibility $transition-duration,
  //     opacity $transition-duration;
  //   visibility: hidden;
  //   opacity: 0;

  //   &~a {
  //     position: relative;
  //     padding-right: 20px;

  //     &:before {
  //       position: absolute;
  //       right: 8px;
  //       width: 6px;
  //       height: 2px;
  //       background-color: currentColor;
  //       transform: rotate(45deg);
  //       transition: transform $transition-duration;
  //       content: "";
  //     }

  //     &:after {
  //       position: absolute;
  //       right: 4px;
  //       width: 6px;
  //       height: 2px;
  //       background-color: currentColor;
  //       transform: rotate(-45deg);
  //       transition: transform $transition-duration;
  //       content: "";
  //     }
  //   }
  // }

  &__mobile-header {
    display: none;
    align-items: center;
    gap: 15px;

    @media(max-width: $tablet) {
      display: flex;
    }

    img {
      display: block;
    }
  }

  &__burger {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    user-select: none;

    span {
      position: relative;
      display: inline-block;
      width: 24px;
      height: 2px;
      transition-delay: 0.3s;
      color: inherit;
      background: currentColor;
      border-radius: 2px;
      vertical-align: bottom;

      &:before {
        position: absolute;
        top: 6px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: top $transition-duration 0.3s, transform $transition-duration, width $transition-duration 0.3s;
        background: currentColor;
        border-radius: 2px;
        transform-origin: 50% 50%;
        content: '';
      }

      &:after {
        position: absolute;
        top: -6px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: top $transition-duration 0.3s, transform $transition-duration, width $transition-duration 0.3s;
        background: currentColor;
        border-radius: 2px;
        transform-origin: 50% 50%;
        content: '';
      }
    }
  }

  &__mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: $base;
    transition:
      transform $transition-duration 0.3s,
      visibility $transition-duration,
      opacity $transition-duration;
    visibility: hidden;
    opacity: 0;
    pointer-events: auto;
  }

  &__mobile-nav-wrapper {
    overflow: hidden;
    overflow-y: auto;
  }

  &--dropdown {
    @media(max-width: $tablet) {

      .header {

        &__mobile-nav {
          transition:
            visibility $transition-duration,
            opacity $transition-duration;
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .header__burger span {
      width: 24px;
      background-color: transparent;
      transition:
        width $transition-duration 0.3s,
        background-color $transition-duration;

      &:before {
        top: 0;
        transition: top $transition-duration, transform $transition-duration 0.3s, width $transition-duration 0.3s;
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        top: 0;
        transition: top $transition-duration, transform $transition-duration 0.3s, width $transition-duration 0.3s;
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}