div.statistics
  div.statistics__wrapper
    ul.statistics__list
      li.statistics__item 
        span.statistics__item-title 60+
        hr
        span Выставочных залов на территории РФ
        
      li.statistics__item 
        span.statistics__item-title 20+
        hr
        span Цветовая палитра должна мгновенно привлекать внимание
        
      li.statistics__item 
        span.statistics__item-title 40k м2
        hr
        span Это же очевидно.
        
      li.statistics__item 
        span.statistics__item-title 600+
        hr
        span Показывать людям, что для них важно, – это мощный подход, позволяющий посетителям почувствовать себя настоящими клиентами.
        
      li.statistics__item 
        span.statistics__item-title 1000+
        hr
        span Она должна соответствовать бренду бизнеса
        
    div.statistics__media
      video(src="./assets/documents/estetika-4.mp4" autoplay muted loop poster='./assets/images/banners/banner-10.jpg')
        
    div.statistics__media
      figure
        img(src="./assets/images/banners/banner-9.jpg", alt="")
