include ../advantage-card/advantage-card

div.slider44
  div.swiper.slider4__swiper
    ul.swiper-wrapper.slider4__list

      li.swiper-slide.slider4__item
        +advantage-card({
          icon: './assets/images/advantage-card-1.svg',
          title: 'Возможность карьерного роста',
          desc: 'Карьерный рост за 1 год до руководителя салона или офисного специалиста',
        })
        
      li.swiper-slide.slider4__item
        +advantage-card({
          icon: './assets/images/advantage-card-2.svg',
          title: 'Высокий % мотивации',
          desc: 'Высокая заработная плата с возможностью влиять на свой уровень дохода',
        })
        
      li.swiper-slide.slider4__item
        +advantage-card({
          icon: './assets/images/advantage-card-3.svg',
          title: 'Экскурсии на производство',
          desc: 'С проживанием в собственной гостинице в формате All inclusive',
        })
        
      li.swiper-slide.slider4__item
        +advantage-card({
          icon: './assets/images/advantage-card-4.svg',
          title: 'Корпоративное обучение',
          desc: 'В компании имеется собственный корпоративный институт',
        })
        
      li.swiper-slide.slider4__item
        +advantage-card({
          icon: './assets/images/advantage-card-5.svg',
          title: 'Корпоративная культура',
          desc: 'Конкурсы профессионального мастерства, спортивные состязания, корпоративные праздники',
        })
        
      li.swiper-slide.slider4__item
        +advantage-card({
          icon: './assets/images/advantage-card-6.svg',
          title: 'Масштабные проекты',
          desc: 'С отрудничество с известными дизайнерами и архитекторами — возможность расширить свои знания',
        })
        
      li.swiper-slide.slider4__item
        +advantage-card({
          icon: './assets/images/advantage-card-7.svg',
          title: 'Официальное трудоустройство',
          desc: 'По ТК РФ, оплачиваемые отпуска и больничные',
        })
        
      li.swiper-slide.slider4__item
        +advantage-card({
          icon: './assets/images/advantage-card-8.svg',
          title: 'Гибкий график работы',
          desc: 'Созможность выбирать выходные дни и часы работы',
        })