section.gallery
  div.gallery__header
    div.container
      h2.gallery__title Создавайте интерьеры<br> с мебелью, которая вдохновляет
  div.swiper.gallery__swiper
    ul.swiper-wrapper.gallery__list

      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 242.png", alt="")
      li.swiper-slide.gallery__item.gallery__item--small
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 243.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 244.png", alt="")
      li.swiper-slide.gallery__item.gallery__item--small
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 245.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 246.png", alt="")
      li.swiper-slide.gallery__item.gallery__item--small
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 247.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 248.png", alt="")
      li.swiper-slide.gallery__item.gallery__item--small
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 249.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 250.png", alt="")
      li.swiper-slide.gallery__item.gallery__item--small
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 251.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 252.png", alt="")
      li.swiper-slide.gallery__item.gallery__item--small
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 253.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 254.png", alt="")
      li.swiper-slide.gallery__item.gallery__item--small
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 255.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 256.png", alt="")
      li.swiper-slide.gallery__item.gallery__item--small
        figure.gallery__banner
          img(src="./assets/images/gallery/Frame 257.png", alt="")