.gallery {
  position: relative;
  margin-top: 160px;
  margin-bottom: 160px;
  scroll-margin-top: 200px;

  @media(max-width: $phone) {
    margin-top: 96px;
    margin-bottom: 96px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    gap: 24px;

    @media(max-width: $tablet) {
      margin-bottom: 36px;
    }
  }

  &__title {
    @include Title-62;
    width: min(100%, 1400px);
    margin: 0;
  }

  &__swiper {
    // overflow: unset;

    @media(max-width: $desktop) {
      margin-right: -30px;
      margin-left: -30px;
      padding-right: 30px;
      padding-left: 30px;
    }

    @media(max-width: $tablet) {
      margin-right: -15px;
      margin-left: -15px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__list {
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    transition-timing-function: linear;
  }

  &__item {
    width: 405px;
    height: unset;
    margin-right: 24px;

    @media(max-width: $tablet) {
      width: 203px;
    }

    @media(max-width: $phone) {
      margin-right: 24px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--small {
      width: 280px;

      @media(max-width: $tablet) {
        width: 140px;
      }
    }
  }

  &__banner {
    margin: 0;
    aspect-ratio: 280 / 360;
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}