div.gallery
  div.swiper.gallery__swiper
    ul.swiper-wrapper.gallery__list
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/promo-gallery-1.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/promo-gallery-2.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/promo-gallery-3.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/promo-gallery-4.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/promo-gallery-5.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/promo-gallery-1.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/promo-gallery-2.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/promo-gallery-3.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/promo-gallery-4.png", alt="")
      li.swiper-slide.gallery__item
        figure.gallery__banner
          img(src="./assets/images/promo-gallery-5.png", alt="")