.gallery {
  position: relative;

  &__swiper {
    overflow: unset;
  }

  &__list {
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }

  &__item {
    width: unset;
    height: unset;
    margin-right: 24px;

    @media(max-width: $phone) {
      margin-right: 24px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(even) {
      width: 280px;

      @media(max-width: $tablet) {
        width: 140px;
      }
    }

    &:nth-child(odd) {
      width: 405px;

      @media(max-width: $tablet) {
        width: 203px;
      }
    }
  }

  &__banner {
    margin: 0;
    aspect-ratio: 280 / 360;
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}