.bumf-card {
  background-color: $elevated;
  border-radius: 16px;

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px;
    color: inherit;
    text-decoration: none;
    gap: 36px;

    @media(max-width: $phone) {
      padding: 16px;
    }

    &[href]:hover {
      @media(min-width: $desktop-only) {

        .bumf-card {

          &__banner {

            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  &__banner {
    width: 144px;
    height: 144px;
    margin: 0;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    @media(max-width: $phone) {
      width: 96px;
      height: 96px;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      will-change: transform;
      transition: transform $transition-duration;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    margin: 0;
    text-decoration: underline;
    transition: text-decoration-color $transition-duration;
    text-decoration-color: transparent;
    text-underline-position: under;
  }

  &__desc {
    margin: 0;
    color: $secondary;
  }
}