div.bumf-card
  a(href="#").bumf-card__link
    figure.bumf-card__banner
      img(src="./assets/images/promo-gallery-1.png", alt="")
    div.bumf-card__content
      span.bumf-card__title 3D Модели
      span.bumf-card__desc Высокоточные 3D-модели продукции

div.bumf-card
  a(href="#").bumf-card__link
    figure.bumf-card__banner
      img(src="./assets/images/promo-gallery-2.png", alt="")
    div.bumf-card__content
      span.bumf-card__title Текстуры для 3D-моделей
      span.bumf-card__desc Детализированные текстуры натуральных материалов

div.bumf-card
  a(href="#").bumf-card__link
    figure.bumf-card__banner
      img(src="./assets/images/promo-gallery-3.png", alt="")
    div.bumf-card__content
      span.bumf-card__title Образцы тканей
      span.bumf-card__desc Обширная коллекция образцов обивочных материалов

div.bumf-card
  a(href="#").bumf-card__link
    figure.bumf-card__banner
      img(src="./assets/images/promo-gallery-4.png", alt="")
    div.bumf-card__content
      span.bumf-card__title Каталоги
      span.bumf-card__desc Актуальные каталоги продукции Estetica Vision

