.request {
  background-color: $elevated;
  border-radius: 16px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8px;
    gap: 36px;

    @media(max-width: $tablet) {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 36px;

    @media(max-width: $tablet) {
      display: contents;
    }

    @media(max-width: $phone) {
      padding: 16px;
    }
  }

  &__desc {
    color: $secondary;
  }

  &__title {
    @include Title-44;
    margin: 0;
  }

  &__form {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: 32px;

    @media(max-width: $desktop) {
      display: flex;
      flex-direction: column;
    }

    @media(max-width: $tablet) {
      gap: 24px;
      order: 1;
    }
  }

  &__legal {
    @include Body-16;
    color: $secondary;
    grid-column: -1 / 1;

    p {
      margin: 0;
    }

    a:not([class]) {
      color: $primary;
      text-decoration: underline;
      transition: text-decoration-color 0.3s;
      text-decoration-color: transparent;
      text-underline-position: under;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: currentcolor;
        }
      }
    }
  }

  &__banner {
    height: 400px;
    margin: 0;
    border-radius: 16px;
    overflow: hidden;

    @media(max-width: $phone) {
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}