.request {

  &__form {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: 32px;

    @media(max-width: $desktop) {
      display: flex;
      flex-direction: column;
    }

    @media(max-width: $tablet) {
      gap: 24px;
      order: 1;
    }
  }

  &__legal {
    @include Body-16;
    color: $secondary;
    grid-column: -1 / 1;

    p {
      margin: 0;
    }

    a:not([class]) {
      color: $primary;
      text-decoration: underline;
      transition: text-decoration-color 0.3s;
      text-decoration-color: transparent;
      text-underline-position: under;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: currentcolor;
        }
      }
    }
  }
}