include ../field/field

div.request
  div.request__wrapper
    div.request__content
      span.request__desc Регистрация

      h2.request__title Условия работы с дизайнерами 

      span Мы отправим вам после подтверждения регистрации в программе

      form(action="#" method='post').request__form
        div.request__fields
          div.request__field
            +field({
              type: 'tel',
              name: 'Phone-number',
              id: 'Phone-number',
              placeholder: '+7 (999) 999-99-99',
              secondClass: 'field__input--tel',
            })
        div.request__actions
          button(type='submit').button
            span.button__wrapper Получить условия

        div.request__legal
          p Отправляя форму, вы даёте согласие на обработку персональных #[br] данных в соответствии с #[a(href='#' target='_blank') Политикой конфиденциальности ].

    figure.request__banner
      img(src="./assets/images/promo-gallery-1.png", alt="")