include ../field/field

mixin request(props)
  if props.partners
    div.request
      form(action="#" method='post').request__form
        div.request__fields
          div.request__field
            +field({
              type: 'tel',
              name: 'Phone-number',
              id: 'Phone-number',
              placeholder: '+7 (999) 999-99-99',
              secondClass: 'validator__phone field__input--tel',
            })
        div.request__actions
          button(type='submit').button
            span.button__wrapper Получить условия

        div.request__legal
          p Отправляя форму, вы даёте согласие на обработку персональных #[br] данных в соответствии с #[a(href='#' target='_blank') Политикой конфиденциальности ].
          
  if props.access
    div.request
      form(action="#" method='post').request__form
        div.request__fields
          div.request__field
            +field({
              type: 'tel',
              name: 'Phone-number',
              id: 'Phone-number',
              placeholder: '+7 (999) 999-99-99',
              secondClass: 'validator__phone field__input--tel',
            })
        div.request__actions
          button(type='submit').button
            span.button__wrapper Отправить

        div.request__legal
          p Отправляя форму, вы даёте согласие на обработку персональных #[br] данных в соответствии с #[a(href='#' target='_blank') Политикой конфиденциальности ].