div.promo-partner
  div.promo-partner__wrapper
    div.scroll-reveal.promo-partner__header
      span.promo-partner__desc Дизайнерам
      h2.promo-partner__title Партнёрская программа 
    div.promo-partner__media
      video(src="./assets/documents/estetika-4.mp4" autoplay muted loop poster='./assets/images/banners/banner-10.jpg')
    div.promo-partner__main
      p Привилегии, поддержка и вдохновение от лидера рынка премиальной мебели в России
      a(href="#").button 
        span.button__wrapper О программе
