.promo-partner {

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(0, 400px) 500px minmax(0, 400px);
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    @media(max-width: $desktop) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: $phone) {
      display: flex;
      flex-direction: column;
      align-items: unset;
      gap: 36px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 120px;

    @media(max-width: $desktop) {
      gap: 44px;
      grid-column: -1 / 1;
      order: -1;
    }

    @media(max-width: $phone) {
      display: contents;
    }
  }

  &__desc {
    @include Body-24;
    margin: 0;
  }

  &__title {
    @include Title-52;
    margin: 0;
  }

  &__media {
    display: flex;
    object-fit: contain;
    flex-shrink: 0;

    video,
    img {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }

  &__main {
    @include Subtitle-30;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;

    @media(max-width: $phone) {
      @include Body-16;
      display: contents;
    }

    p {
      margin: 0;
    }
  }
}