section.intro
  div.intro__media
    //- video(src="./assets/documents/intro-1.mp4" autoplay muted loop poster='./assets/images/banners/banner-10.jpg')
    img(src="./assets/images/banners/banner-10.jpg", alt="")
  div.intro__wrapper
    div.container
      div.intro__content
        h1.intro__title 
          span Обеденная
          span группа
          span Morgan
        ul 
          li 
            a(href="#") Какая-то ссылка
          li  
            p Выразительный дизайн и неповторимый комфорт
        
  div.intro__loading
    div.intro__loading-wrapper
      div.intro__logo
        img(src='./assets/images/logo-loading.svg' width='184' alt='Логотип')
      div.intro__progress
        include ../reels/reels
    