.intro {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #1D1D1D;

  &__media {
    height: 100%;
    transform: scale(0.7);
    transition: transform 0.5s;

    video {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      object-fit: cover;
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 60px;
    color: $base;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(180deg, rgba(16, 24, 32, 0), rgba(16, 24, 32, .5) 100%);
      content: '';
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      @include Body-20;
      margin: 0;
    }
  }

  &__title,
  h1 {
    @include Title-62;
    display: inline-flex;
    margin: 0;
    flex-wrap: wrap;
    gap: 10px;

    span {
      transition:
        opacity 0.5s ease 0s,
        transform 0.5s ease 0s;
      opacity: 0;
      transform: translateY(40px);
    }
  }

  &__loading {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $base;
    background-color: #1D1D1D;
    transition-delay: 0.5s;
    transition:
      opacity $transition-duration 0.5s,
      visibility $transition-duration 0.5s;

    &--hidden {
      opacity: 0;
      visibility: hidden;

      .intro {

        &__loading-wrapper {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  &__loading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $base;
    gap: 40px;
    transition:
      opacity 0.5s,
      visibility 0.5s;
  }

  &--show {
    .intro {
      &__media {
        transform: scale(1);
      }

      &__title {
        span {
          opacity: 1;
          transform: translateY(0);

          $num: 1;

          @while $num < 20 {
            &:nth-of-type(#{$num}) {
              transition-delay: 0.1s * $num;
            }

            $num: $num + 1;
          }
        }
      }
    }
  }
}