div.subscribe-tg
  div.subscribe-tg__wrapper

    figure.subscribe-tg__banner
      img(src="./assets/images/subscribe-tg-image.jpg", alt="")

    div.subscribe-tg__content
      h2.subscribe-tg__title Подпишись на закрытый<br> телеграм для дизайнеров

      span Полезное общение с профессионалами — всё для вашей продуктивной работы и вдохновения.

      div.subscribe-tg__actions
        a(href="#").button
          span.button__wrapper Подписаться