footer.footer
  div.container

    div.footer__top
      div.footer__logo
        img(src="./assets/images/logo-footer.svg" width='226' height='36' alt="")
      div.footer__contacts
        a(href="tel:+74950216223") +7(495)021-62-23
        a(href="mailto:marketing@estetica.ru") marketing@estetica.ru

    div.footer__main 
      div.footer__info 
        div.footer__copyright 
          span &copy; ООО «Эстетика», 2000–2025. 
          br
          br
          span * Instagram (принадлежит компании Meta, #[br] запрещённой в РФ)

        div.footer__politics
          a(href="#") Политика конфиденциальности 
          a(href="#") Условия пользования

      nav.footer__nav
        div
          span.footer__nav-title Клиентам
          ul.footer__nav-list
            li.footer__nav-item
              a(href="") Каталог продукции
            li.footer__nav-item
              a(href="") Библиотека материалов
        div
          span.footer__nav-title Информация
          ul.footer__nav-list
            li.footer__nav-item
              a(href="") О компании
            li.footer__nav-item
              a(href="") Новости
            li.footer__nav-item
              a(href="") Вакансии
            li.footer__nav-item
              a(href="") Дизайнерам
            li.footer__nav-item
              a(href="") Контакты
        div
          span.footer__nav-title Следите за нами
          div.footer__socials
            include ../socials/socials