.footer {
  background-color: $elevated;

  @media print {
    display: none;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 144px;
    padding-bottom: 60px;
    gap: 60px;

    @media(max-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 96px;
      padding-bottom: 44px;
      gap: 44px;
    }
  }

  &__logo {
    width: 226px;

    @media(max-width: $phone) {
      width: 152px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__contacts {
    @include Title-44;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    @media(max-width: $tablet) {
      align-items: center;
      text-align: center;
    }

    a:not([class]) {
      color: inherit;
      text-decoration: underline;
      transition: text-decoration-color $transition-duration;
      text-decoration-color: transparent;
      text-underline-position: under;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: currentcolor;
        }
      }
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid $default;
    gap: 60px;

    @media(max-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 44px;
      gap: 44px;
    }
  }

  &__info {
    @include Body-16;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 44px;

    @media(max-width: $tablet) {
      order: 1;
    }

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $secondary;
      text-decoration: underline;
      transition: text-decoration-color $transition-duration;
      text-decoration-color: transparent;
      text-underline-position: under;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: currentcolor;
        }
      }

      svg {
        fill: currentcolor;
      }
    }
  }

  &__copyright {
    margin-bottom: auto;
    color: $secondary;

    @media(max-width: $tablet) {
      order: 1;
    }
  }

  &__politics {
    display: flex;
    gap: 70px;

    @media(max-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 44px;
    }
  }

  &__5corners {
    order: 1;

    @media(max-width: $tablet) {
      display: flex;
      justify-content: center;
    }

    a {
      transition: color $transition-duration;
      text-decoration: none;

      &:hover {
        @media(min-width: $desktop-only) {
          color: $hover;
        }
      }
    }
  }

  &__nav {
    @include Body-20;
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    gap: 24px;

    @media(max-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 36px;
    }
  }

  &__nav-title {
    display: block;
    margin: 0;
    margin-bottom: 16px;
    color: $primary;

    @media(max-width: $tablet) {
      margin-bottom: 24px;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 16px;

    @media(max-width: $tablet) {
      gap: 24px;
    }
  }

  &__nav-item {

    a {
      color: $secondary;
      text-decoration: underline;
      transition: text-decoration-color $transition-duration;
      text-decoration-color: transparent;
      text-underline-position: under;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: currentcolor;
        }
      }
    }
  }
}