div.socials

  a(href="#" target="_blank" rel=" noopener noreferrer" aria-label="Вконтакте").socials__item
    img(src="./assets/images/social-vk.png", alt="")

  a(href="#" target="_blank" rel=" noopener noreferrer" aria-label="Инстаграмм").socials__item
    img(src="./assets/images/social-instagramm.png", alt="")

  a(href="#" target="_blank" rel=" noopener noreferrer" aria-label="Ютаб").socials__item
    img(src="./assets/images/social-youtube.png", alt="")
    
  a(href="#" target="_blank" rel=" noopener noreferrer" aria-label="Телеграм").socials__item 
    img(src="./assets/images/social-telegramm.png", alt="")