.up {
  @include liquid-glass;
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 9;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: $primary;
  border: 0;
  border-radius: 50%;
  background-color: $overlay-light;
  outline: 1px solid $default;
  transition:
    visibility 0.3s,
    opacity 0.3s,
    color 0.3s;
  visibility: hidden;
  opacity: 0;
  box-shadow: none;
  cursor: pointer;

  @media(max-width: $phone) {
    right: 16px;
    bottom: 80px;
  }

  &:before {
    width: 24px;
    height: 24px;
    color: inherit;
    background-color: currentColor;
    mask-size: cover;
    mask-position: center right;
    mask-repeat: no-repeat;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzIDcuODNMMTYuNTkgMTEuNDFMMTggMTBMMTIgNEw2IDEwTDcuNDEgMTEuNDFMMTEgNy44M1YyMEgxM1Y3LjgzWiIgZmlsbD0iIzFDMUMxQyIvPgo8L3N2Zz4K");
    flex-shrink: 0;
    content: '';
  }

  &:hover {
    @media(min-width: $desktop-only) {}
  }

  &:active {}

  svg {
    display: block;
    width: 28px;
    height: 28px;
    fill: currentcolor;
    stroke: currentcolor;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}