div.top-bar
  div.container
    div.top-bar__padding
      div.top-bar__wrapper
        span Скидка 30%. Только до 23 ноября.

    div.top-bar__fixed
      div.top-bar__wrapper
        span Скидка 30%. Только до 23 ноября.