section.store-map
  div.store-map__track
    span Москва
    span Санкт-Петербург
    span Краснодар
    span Владивосток
    span Казань
    span Владикавказ
    span Волгоград
    span Махачкала
    
  div.store-map__track
    span Москва
    span Санкт-Петербург
    span Краснодар
    span Владивосток
    span Казань
    span Владикавказ
    span Волгоград
    span Махачкала