.configurator {

  &__wrapper {
    display: grid;
    grid-template-columns: 550px minmax(0, 950px);
    justify-content: space-between;
    gap: 60px;

    @media(max-width: $desktop) {
      grid-template-columns: 350px minmax(0, 950px);
    }

    @media(max-width: $tablet) {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;

    @media(max-width: $tablet) {
      display: contents;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    @include Title-52;
    margin: 0;
  }

  &__post-title {
    @include Body-24;
    margin: 0;
    color: $secondary;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media(max-width: $tablet) {
      order: 1;
    }
  }

  &__fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-bottom: 24px;
    border: 0;
    border-bottom: 1px solid $default;
    gap: 16px;

    @media(max-width: $phone) {
      padding-bottom: unset;
      border: 0;
    }
  }

  &__label {
    @include Body-20;
  }

  &__fields {
    display: flex;
    gap: 8px;
  }

  &__field {
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color $transition-duration;
    cursor: pointer;

    &:hover {
      @media(min-width: $desktop-only) {
        border-color: $primary;
      }
    }

    &:has(:checked) {
      border-color: $primary;
    }

    img {
      width: 36px;
      height: 36px;
      display: block;
      object-fit: cover;

      @media(max-width: $phone) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__result {
    display: grid;
    background-color: $elevated-2;
    border-radius: 16px;
    aspect-ratio: 1000 / 720;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      grid-column-start: 1;
      grid-row-start: 1;
      object-fit: cover;
      opacity: 0;
      transition: opacity $transition-duration;

      &.active {
        opacity: 1;
      }
    }
  }
}