section.breadcrumbs
  div.container
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a(href="#") Главная
      li.breadcrumbs__item
        a(href="#") Новости
      li.breadcrumbs__item
        a(href="#") Новые
      li.breadcrumbs__item
        span Открытие нового салона ESTETICA в РИГАМОЛЛ