.header-dropdown {
  @include Caption-14;
  text-transform: uppercase;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 30px;
  }

  &__title {
    display: block;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 12px;
  }

  &__link {
    display: flex;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity $transition-duration;

    &:hover {
      @media(min-width: $desktop-only) {
        color: inherit;
        opacity: 0.5;
      }
    }
  }
}