div.header-dropdown
  div.container
    div.header-dropdown__wrapper

      div
        span.header-dropdown__title Гостинная группа
        ul.header-dropdown__list
          li.header-dropdown__item
            a(href="#").header-dropdown__link Диваны 
          li.header-dropdown__item
            a(href="#").header-dropdown__link Кресла и софы
          li.header-dropdown__item
            a(href="#").header-dropdown__link Журнальные столики
          li.header-dropdown__item
            a(href="#").header-dropdown__link Пуфы и банкетки

      div
        span.header-dropdown__title Спальная группа
        ul.header-dropdown__list
          li.header-dropdown__item
            a(href="#").header-dropdown__link Кровати 
          li.header-dropdown__item
            a(href="#").header-dropdown__link Матрасы и наматрасники
          li.header-dropdown__item
            a(href="#").header-dropdown__link Комоды
          li.header-dropdown__item
            a(href="#").header-dropdown__link Тумбы
          li.header-dropdown__item
            a(href="#").header-dropdown__link Туалетные столы

      div
        span.header-dropdown__title Обеденная группа
        ul.header-dropdown__list
          li.header-dropdown__item
            a(href="#").header-dropdown__link Столы 
          li.header-dropdown__item
            a(href="#").header-dropdown__link Стулья

      div
        span.header-dropdown__title Аксессуары
        ul.header-dropdown__list
          li.header-dropdown__item
            a(href="#").header-dropdown__link Арт-пано 
          li.header-dropdown__item
            a(href="#").header-dropdown__link Освещение

      div
        span.header-dropdown__title Discount