.slider {
  position: relative;

  .news-card {
    width: 400px;
    height: 100%;

    @media(max-width: $phone) {
      width: 260px;
    }
  }

  &__swiper {
    overflow: unset;

    @media(max-width: $tablet) {
      margin-right: -30px;
      margin-left: -30px;
      padding-right: 30px;
      padding-left: 30px;
    }

    @media(max-width: $phone) {
      margin-right: -15px;
      margin-left: -15px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }

  &__item {
    width: unset;
    height: unset;
    margin-right: 24px;

    @media(max-width: $phone) {
      margin-right: 24px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 50px;

    @media(max-width: $tablet) {
      display: none;
    }
  }

  &__pagination {
    position: relative;
    height: 2px !important;
  }

  &__pagination-fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    transform: scale(0);
    transform-origin: left top;
  }

  &__buttons {
    display: flex;
    gap: 50px;
    flex-shrink: 0;
  }

  &__button {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
    cursor: pointer;

    &:after {
      width: 24px;
      height: 24px;
      color: inherit;
      background-color: currentColor;
      mask-size: cover;
      mask-position: center right;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3IDExTDEyLjU5IDcuNDFMMTQgNkwyMCAxMkwxNCAxOEwxMi41OSAxNi41OUwxNi4xNyAxM0w0IDEzTDQgMTFMMTYuMTcgMTFaIiBmaWxsPSIjMUMxQzFDIi8+Cjwvc3ZnPgo=");
      flex-shrink: 0;
      content: '';
    }

    &--prev {
      transform: rotate(180deg);
    }

    &--next {
    }

    &--disabled {
      cursor: not-allowed;
    }
  }
}