div.mobile-nav
  div.container
    div.mobile-nav__wrapper

      div.mobile-nav__item
        div.mobile-nav__sub
          include ../mobile-dropdown/mobile-dropdown
        a(href="#").mobile-nav__nav-link Каталог
        button(type='button').mobile-nav__sub-in

      div.mobile-nav__item
        a(href="#").mobile-nav__nav-link О компании

      div.mobile-nav__item
        a(href="#").mobile-nav__nav-link Новости

      div.mobile-nav__item
        a(href="#").mobile-nav__nav-link Дизайнерам

      div.mobile-nav__item
        a(href="#").mobile-nav__nav-link Салоны

      div.mobile-nav__item
        a(href="#").mobile-nav__nav-link Discount
