.mobile-nav {
  @include Caption-14;
  text-transform: uppercase;

  &__wrapper {
    padding-bottom: 30px;
    border-top: 1px solid $default;

    &:has(.mobile-nav__item--sub) {


      .mobile-nav {

        &__action {
          display: none;
        }

        &__search {
          display: none;
        }

        &__item {
          border: 0;

          &:not(.mobile-nav__item--sub) {
            display: none;
          }
        }

        &__nav-link {
          display: none;
        }

        &__sub-in {
          display: none;
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 1px solid $default;

    &--sub {

      .mobile-nav {

        &__sub {
          display: unset;
        }
      }
    }
  }

  &__nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    color: inherit;
    text-decoration: none;
    flex-grow: 1;
  }

  &__sub {
    display: none;
    margin-right: -15px;
    margin-left: -15px;
    flex-grow: 1;
  }

  &__sub-in {
    @include Caption-14;
    position: relative;
    min-width: 30px;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    color: inherit;
    border: 0;
    background: 0;
    text-transform: uppercase;
    flex-shrink: 0;
    flex-grow: 1;

    &:after {
      width: 24px;
      height: 24px;
      color: inherit;
      background-color: currentColor;
      mask-size: contain;
      mask-position: center left;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3IDExTDEyLjU5IDcuNDFMMTQgNkwyMCAxMkwxNCAxOEwxMi41OSAxNi41OUwxNi4xNyAxM0w0IDEzTDQgMTFMMTYuMTcgMTFaIiBmaWxsPSIjMUMxQzFDIi8+Cjwvc3ZnPgo=");
      flex-shrink: 0;
      content: '';
    }
  }
}