div.mobile-nav
  div.container
    div.mobile-nav__wrapper

      nav.mobile-nav__nav
        ul.mobile-nav__nav-list

          li.mobile-nav__nav-item
            div.mobile-nav__sub
              include ../mobile-dropdown/mobile-dropdown
            a(href="#").mobile-nav__nav-link Каталог
            button(type='button').mobile-nav__sub-in

          li.mobile-nav__nav-item
            a(href="#").mobile-nav__nav-link О компании

          li.mobile-nav__nav-item
            a(href="#").mobile-nav__nav-link Новости

          li.mobile-nav__nav-item
            a(href="#").mobile-nav__nav-link Дизайнерам

          li.mobile-nav__nav-item
            a(href="#").mobile-nav__nav-link Салоны

          li.mobile-nav__nav-item
            a(href="#").mobile-nav__nav-link Discount
