div.request-wrapper
  div.request-wrapper__wrapper
    span.request-wrapper__desc Регистрация

    h2.request-wrapper__title Условия работы с дизайнерами 

    span Мы отправим вам после подтверждения регистрации в программе

    div.request-wrapper__content
      +request({
        partners: true,
      })

  figure.request-wrapper__banner
    img(src="./assets/images/our-mission-2.png", alt="")



